<section id="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="menu_head">Localização</h3>
                    <div class="footer_menu_contact">
                        <ul>
                            <li>
                                <i class="fa fa-home"></i>
                                <span><a href="https://www.google.com.br/maps/place/Estr.+Vincinal+Irm%C3%A3os+Saad+Farha,+Piratininga+-+SP,+17490-000/@-22.4016813,-49.1708698,1058m/data=!3m1!1e3!4m5!3m4!1s0x94bf637e038782ef:0x6b7ba505068b0c73!8m2!3d-22.4006527!4d-49.1672122?hl=pt-BR">Estrada Vicinal Saad Farha</a></span>

                            </li>
                            <li><i class="fa fa-globe"></i><span>Piratininga</span></li>
                            <li><span>São Paulo</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="menu_head">Escritório</h3>
                    <div class="footer_menu_contact">
                        <ul>
                            <li>
                                <i class="fa fa-home"></i>
                                <span> Rua Azarias Leite 19-85 Jardim Estoril </span>
                            </li>
                            <li>
                                <i class="fa fa-globe"></i>
                                <span> Bauru/SP</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span><a href="tel:1432064005">(14) 3206-4005</a></span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <span><a href="mailto:">central@residencialecoquality.com.br</a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer_menu_contact">
                        <h3 class="menu_head">Realização</h3>
                        <img class="img-responsive" src="images/talisma.jpg" style="border-radius:10px; max-width:250px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>